openapi: 3.2.0
info:
  title: LaunchDarkly REST Integration Audit Log Subscriptions API
  description: The LaunchDarkly REST API provides programmatic access to the full LaunchDarkly feature management platform. Developers can create, update, and manage feature flags, targeting rules, user segments, projects, environments, and team members. The API also supports scheduled flag changes, release pipelines, experimentation, approval workflows, and webhook integrations. Authentication is handled via personal or service access tokens, and the API follows a versioned scheme with the current default version being 20240415.
  version: '20240415'
  contact:
    name: LaunchDarkly Support
    url: https://support.launchdarkly.com
  termsOfService: https://launchdarkly.com/policies/terms-of-service
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.launchdarkly.com/api/v2
  description: LaunchDarkly Production API
security:
- bearerAuth: []
tags:
- name: Integration Audit Log Subscriptions
  description: Manage integrations that subscribe to audit log events and forward them to external tools.
paths:
  /integrations/{integrationKey}/subscriptions:
    get:
      operationId: listIntegrationSubscriptions
      summary: List integration audit log subscriptions
      description: Returns a list of all audit log event subscriptions for the specified integration.
      tags:
      - Integration Audit Log Subscriptions
      parameters:
      - name: integrationKey
        in: path
        required: true
        description: The key identifying the integration type.
        schema:
          type: string
      responses:
        '200':
          description: Successful response containing integration subscriptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSubscriptions'
        '401':
          description: Unauthorized. Invalid or missing access token.
        '404':
          description: Integration not found.
components:
  schemas:
    Links:
      type: object
      description: HATEOAS links for navigating related resources.
      properties:
        self:
          type: object
          description: A link to this resource.
          properties:
            href:
              type: string
              description: The URL of this resource.
            type:
              type: string
              description: The media type.
      additionalProperties:
        type: object
        properties:
          href:
            type: string
            description: The URL of the linked resource.
          type:
            type: string
            description: The media type.
    IntegrationSubscriptions:
      type: object
      description: A collection of integration audit log subscriptions.
      properties:
        items:
          type: array
          description: The list of integration subscriptions.
          items:
            type: object
            properties:
              _id:
                type: string
                description: The subscription identifier.
              name:
                type: string
                description: The subscription name.
              _links:
                $ref: '#/components/schemas/Links'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: LaunchDarkly API access token. Create personal or service tokens in the LaunchDarkly dashboard under Account Settings.
externalDocs:
  description: LaunchDarkly API Documentation
  url: https://apidocs.launchdarkly.com/
