openapi: 3.2.0
info:
  title: LaunchDarkly REST Metrics API
  description: The LaunchDarkly REST API provides programmatic access to the full LaunchDarkly feature management platform. Developers can create, update, and manage feature flags, targeting rules, user segments, projects, environments, and team members. The API also supports scheduled flag changes, release pipelines, experimentation, approval workflows, and webhook integrations. Authentication is handled via personal or service access tokens, and the API follows a versioned scheme with the current default version being 20240415.
  version: '20240415'
  contact:
    name: LaunchDarkly Support
    url: https://support.launchdarkly.com
  termsOfService: https://launchdarkly.com/policies/terms-of-service
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.launchdarkly.com/api/v2
  description: LaunchDarkly Production API
security:
- bearerAuth: []
tags:
- name: Metrics
  description: Define and manage metrics used to measure experiment outcomes and feature flag impact.
paths:
  /metrics/{projectKey}:
    get:
      operationId: listMetrics
      summary: List metrics
      description: Returns a list of all metrics defined in the specified project.
      tags:
      - Metrics
      parameters:
      - $ref: '#/components/parameters/ProjectKey'
      responses:
        '200':
          description: Successful response containing a list of metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
        '401':
          description: Unauthorized. Invalid or missing access token.
        '404':
          description: Project not found.
    post:
      operationId: createMetric
      summary: Create a metric
      description: Creates a new metric in the specified project for use in experiments and monitoring.
      tags:
      - Metrics
      parameters:
      - $ref: '#/components/parameters/ProjectKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricBody'
      responses:
        '201':
          description: Metric created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
        '400':
          description: Invalid request body.
        '401':
          description: Unauthorized. Invalid or missing access token.
        '409':
          description: A metric with the given key already exists.
components:
  schemas:
    MetricBody:
      type: object
      description: The request body for creating a new metric.
      required:
      - name
      - key
      - kind
      properties:
        name:
          type: string
          description: The human-readable name of the metric.
        key:
          type: string
          description: The metric key.
        kind:
          type: string
          description: The type of metric.
          enum:
          - pageview
          - click
          - custom
        description:
          type: string
          description: A description of the metric.
        tags:
          type: array
          description: Tags to apply to the metric.
          items:
            type: string
        selector:
          type: string
          description: The CSS selector for click metrics.
        urls:
          type: array
          description: URL patterns for pageview and click metrics.
          items:
            type: object
            properties:
              kind:
                type: string
                description: The type of URL pattern.
                enum:
                - exact
                - canonical
                - substring
                - regex
              url:
                type: string
                description: The URL pattern value.
    Metric:
      type: object
      description: A metric used to measure experiment outcomes.
      properties:
        _id:
          type: string
          description: The unique identifier of this metric.
        key:
          type: string
          description: The metric key.
        name:
          type: string
          description: The human-readable name of the metric.
        description:
          type: string
          description: A description of the metric.
        kind:
          type: string
          description: The type of metric.
          enum:
          - pageview
          - click
          - custom
        tags:
          type: array
          description: Tags applied to this metric.
          items:
            type: string
        creationDate:
          type: integer
          format: int64
          description: Unix epoch timestamp when the metric was created.
        _links:
          $ref: '#/components/schemas/Links'
    Metrics:
      type: object
      description: A collection of metrics.
      properties:
        items:
          type: array
          description: The list of metrics.
          items:
            $ref: '#/components/schemas/Metric'
        _links:
          $ref: '#/components/schemas/Links'
    Links:
      type: object
      description: HATEOAS links for navigating related resources.
      properties:
        self:
          type: object
          description: A link to this resource.
          properties:
            href:
              type: string
              description: The URL of this resource.
            type:
              type: string
              description: The media type.
      additionalProperties:
        type: object
        properties:
          href:
            type: string
            description: The URL of the linked resource.
          type:
            type: string
            description: The media type.
  parameters:
    ProjectKey:
      name: projectKey
      in: path
      required: true
      description: The project key identifying a LaunchDarkly project.
      schema:
        type: string
        pattern: ^[a-z0-9]([a-z0-9-])*$
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: LaunchDarkly API access token. Create personal or service tokens in the LaunchDarkly dashboard under Account Settings.
externalDocs:
  description: LaunchDarkly API Documentation
  url: https://apidocs.launchdarkly.com/
