openapi: 3.2.0
info:
  title: LaunchDarkly REST Workflows API
  description: The LaunchDarkly REST API provides programmatic access to the full LaunchDarkly feature management platform. Developers can create, update, and manage feature flags, targeting rules, user segments, projects, environments, and team members. The API also supports scheduled flag changes, release pipelines, experimentation, approval workflows, and webhook integrations. Authentication is handled via personal or service access tokens, and the API follows a versioned scheme with the current default version being 20240415.
  version: '20240415'
  contact:
    name: LaunchDarkly Support
    url: https://support.launchdarkly.com
  termsOfService: https://launchdarkly.com/policies/terms-of-service
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.launchdarkly.com/api/v2
  description: LaunchDarkly Production API
security:
- bearerAuth: []
tags:
- name: Workflows
  description: Create and manage automated workflows for scheduling and orchestrating flag changes.
paths:
  /projects/{projectKey}/flags/{flagKey}/environments/{environmentKey}/workflows:
    get:
      operationId: listWorkflows
      summary: List workflows
      description: Returns a list of all workflows for the specified feature flag in the given environment.
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/ProjectKey'
      - $ref: '#/components/parameters/FlagKey'
      - $ref: '#/components/parameters/EnvironmentKey'
      responses:
        '200':
          description: Successful response containing workflows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflows'
        '401':
          description: Unauthorized. Invalid or missing access token.
        '404':
          description: Flag or environment not found.
components:
  parameters:
    FlagKey:
      name: flagKey
      in: path
      required: true
      description: The feature flag key identifying a specific flag.
      schema:
        type: string
        pattern: ^[a-z0-9]([a-z0-9._-])*$
    EnvironmentKey:
      name: environmentKey
      in: path
      required: true
      description: The environment key identifying a specific environment.
      schema:
        type: string
        pattern: ^[a-z0-9]([a-z0-9-])*$
    ProjectKey:
      name: projectKey
      in: path
      required: true
      description: The project key identifying a LaunchDarkly project.
      schema:
        type: string
        pattern: ^[a-z0-9]([a-z0-9-])*$
  schemas:
    Links:
      type: object
      description: HATEOAS links for navigating related resources.
      properties:
        self:
          type: object
          description: A link to this resource.
          properties:
            href:
              type: string
              description: The URL of this resource.
            type:
              type: string
              description: The media type.
      additionalProperties:
        type: object
        properties:
          href:
            type: string
            description: The URL of the linked resource.
          type:
            type: string
            description: The media type.
    Workflows:
      type: object
      description: A collection of workflows.
      properties:
        items:
          type: array
          description: The list of workflows.
          items:
            type: object
            properties:
              _id:
                type: string
                description: The workflow identifier.
              name:
                type: string
                description: The workflow name.
              _links:
                $ref: '#/components/schemas/Links'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: LaunchDarkly API access token. Create personal or service tokens in the LaunchDarkly dashboard under Account Settings.
externalDocs:
  description: LaunchDarkly API Documentation
  url: https://apidocs.launchdarkly.com/
