openapi: 3.2.0
info:
  title: LaunchDarkly REST Account Members API
  description: The LaunchDarkly REST API provides programmatic access to the full LaunchDarkly feature management platform. Developers can create, update, and manage feature flags, targeting rules, user segments, projects, environments, and team members. The API also supports scheduled flag changes, release pipelines, experimentation, approval workflows, and webhook integrations. Authentication is handled via personal or service access tokens, and the API follows a versioned scheme with the current default version being 20240415.
  version: '20240415'
  contact:
    name: LaunchDarkly Support
    url: https://support.launchdarkly.com
  termsOfService: https://launchdarkly.com/policies/terms-of-service
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.launchdarkly.com/api/v2
  description: LaunchDarkly Production API
security:
- bearerAuth: []
tags:
- name: Account Members
  description: Manage team members, invitations, and member roles within a LaunchDarkly account.
paths:
  /members:
    get:
      operationId: listMembers
      summary: List account members
      description: Returns a paginated list of all members in the LaunchDarkly account.
      tags:
      - Account Members
      parameters:
      - name: limit
        in: query
        description: Maximum number of members to return.
        schema:
          type: integer
      - name: offset
        in: query
        description: Number of members to skip for pagination.
        schema:
          type: integer
      - name: filter
        in: query
        description: A filter expression to apply to the member list.
        schema:
          type: string
      responses:
        '200':
          description: Successful response containing a list of members.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Members'
        '401':
          description: Unauthorized. Invalid or missing access token.
    post:
      operationId: inviteMember
      summary: Invite a new member
      description: Sends an invitation to a new member to join the LaunchDarkly account.
      tags:
      - Account Members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberInviteBody'
      responses:
        '201':
          description: Invitation sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Members'
        '400':
          description: Invalid request body.
        '401':
          description: Unauthorized. Invalid or missing access token.
        '409':
          description: A member with this email already exists.
components:
  schemas:
    Members:
      type: object
      description: A paginated collection of account members.
      properties:
        items:
          type: array
          description: The list of account members.
          items:
            $ref: '#/components/schemas/Member'
        totalCount:
          type: integer
          description: The total number of members.
        _links:
          $ref: '#/components/schemas/Links'
    Member:
      type: object
      description: An account member in the LaunchDarkly organization.
      properties:
        _id:
          type: string
          description: The unique identifier of this member.
        email:
          type: string
          format: email
          description: The email address of the member.
        firstName:
          type: string
          description: The first name of the member.
        lastName:
          type: string
          description: The last name of the member.
        role:
          type: string
          description: The built-in role of the member.
          enum:
          - reader
          - writer
          - admin
          - owner
        customRoles:
          type: array
          description: Custom role keys assigned to this member.
          items:
            type: string
        _lastSeen:
          type: integer
          format: int64
          description: Unix epoch timestamp of the last activity.
        _links:
          $ref: '#/components/schemas/Links'
    MemberInviteBody:
      type: object
      description: The request body for inviting a new member.
      required:
      - email
      properties:
        email:
          type: string
          format: email
          description: The email address of the person to invite.
        role:
          type: string
          description: The built-in role to assign.
          enum:
          - reader
          - writer
          - admin
        customRoles:
          type: array
          description: Custom role keys to assign to the new member.
          items:
            type: string
    Links:
      type: object
      description: HATEOAS links for navigating related resources.
      properties:
        self:
          type: object
          description: A link to this resource.
          properties:
            href:
              type: string
              description: The URL of this resource.
            type:
              type: string
              description: The media type.
      additionalProperties:
        type: object
        properties:
          href:
            type: string
            description: The URL of the linked resource.
          type:
            type: string
            description: The media type.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: LaunchDarkly API access token. Create personal or service tokens in the LaunchDarkly dashboard under Account Settings.
externalDocs:
  description: LaunchDarkly API Documentation
  url: https://apidocs.launchdarkly.com/
