openapi: 3.2.0
info:
  title: LaunchDarkly REST Relay Proxy Configurations API
  description: The LaunchDarkly REST API provides programmatic access to the full LaunchDarkly feature management platform. Developers can create, update, and manage feature flags, targeting rules, user segments, projects, environments, and team members. The API also supports scheduled flag changes, release pipelines, experimentation, approval workflows, and webhook integrations. Authentication is handled via personal or service access tokens, and the API follows a versioned scheme with the current default version being 20240415.
  version: '20240415'
  contact:
    name: LaunchDarkly Support
    url: https://support.launchdarkly.com
  termsOfService: https://launchdarkly.com/policies/terms-of-service
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.launchdarkly.com/api/v2
  description: LaunchDarkly Production API
security:
- bearerAuth: []
tags:
- name: Relay Proxy Configurations
  description: Manage automatic configuration entries for LaunchDarkly Relay Proxy instances.
paths:
  /account/relay-auto-configs:
    get:
      operationId: listRelayProxyConfigs
      summary: List Relay Proxy configurations
      description: Returns a list of all Relay Proxy automatic configuration entries.
      tags:
      - Relay Proxy Configurations
      responses:
        '200':
          description: Successful response containing Relay Proxy configurations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayProxyConfigs'
        '401':
          description: Unauthorized. Invalid or missing access token.
    post:
      operationId: createRelayProxyConfig
      summary: Create a Relay Proxy configuration
      description: Creates a new Relay Proxy automatic configuration entry that generates a unique key for Relay Proxy instances.
      tags:
      - Relay Proxy Configurations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelayProxyConfigBody'
      responses:
        '201':
          description: Relay Proxy configuration created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayProxyConfig'
        '400':
          description: Invalid request body.
        '401':
          description: Unauthorized. Invalid or missing access token.
components:
  schemas:
    RelayProxyConfigBody:
      type: object
      description: The request body for creating a Relay Proxy configuration.
      required:
      - name
      - policy
      properties:
        name:
          type: string
          description: A human-readable name for the configuration.
        policy:
          type: array
          description: Policy statements controlling access.
          items:
            $ref: '#/components/schemas/Statement'
    RelayProxyConfig:
      type: object
      description: A Relay Proxy automatic configuration entry.
      properties:
        _id:
          type: string
          description: The unique identifier of this configuration.
        name:
          type: string
          description: The human-readable name of this configuration.
        fullKey:
          type: string
          description: The full key for authenticating Relay Proxy instances. Only returned at creation time.
        displayKey:
          type: string
          description: The last four characters of the full key.
        creationDate:
          type: integer
          format: int64
          description: Unix epoch timestamp when the configuration was created.
        lastModified:
          type: integer
          format: int64
          description: Unix epoch timestamp of the last modification.
        policy:
          type: array
          description: Policy statements controlling which projects and environments this Relay Proxy can access.
          items:
            $ref: '#/components/schemas/Statement'
        _links:
          $ref: '#/components/schemas/Links'
    Statement:
      type: object
      description: A policy statement controlling resource access or event filtering.
      properties:
        effect:
          type: string
          description: Whether this statement allows or denies the action.
          enum:
          - allow
          - deny
        resources:
          type: array
          description: Resource specifiers this statement applies to.
          items:
            type: string
        notResources:
          type: array
          description: Resource specifiers this statement does not apply to.
          items:
            type: string
        actions:
          type: array
          description: The actions this statement applies to.
          items:
            type: string
        notActions:
          type: array
          description: The actions this statement does not apply to.
          items:
            type: string
    RelayProxyConfigs:
      type: object
      description: A collection of Relay Proxy configurations.
      properties:
        items:
          type: array
          description: The list of Relay Proxy configurations.
          items:
            $ref: '#/components/schemas/RelayProxyConfig'
    Links:
      type: object
      description: HATEOAS links for navigating related resources.
      properties:
        self:
          type: object
          description: A link to this resource.
          properties:
            href:
              type: string
              description: The URL of this resource.
            type:
              type: string
              description: The media type.
      additionalProperties:
        type: object
        properties:
          href:
            type: string
            description: The URL of the linked resource.
          type:
            type: string
            description: The media type.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: LaunchDarkly API access token. Create personal or service tokens in the LaunchDarkly dashboard under Account Settings.
externalDocs:
  description: LaunchDarkly API Documentation
  url: https://apidocs.launchdarkly.com/
