openapi: 3.2.0
info:
  title: LaunchDarkly REST Tags API
  description: The LaunchDarkly REST API provides programmatic access to the full LaunchDarkly feature management platform. Developers can create, update, and manage feature flags, targeting rules, user segments, projects, environments, and team members. The API also supports scheduled flag changes, release pipelines, experimentation, approval workflows, and webhook integrations. Authentication is handled via personal or service access tokens, and the API follows a versioned scheme with the current default version being 20240415.
  version: '20240415'
  contact:
    name: LaunchDarkly Support
    url: https://support.launchdarkly.com
  termsOfService: https://launchdarkly.com/policies/terms-of-service
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.launchdarkly.com/api/v2
  description: LaunchDarkly Production API
security:
- bearerAuth: []
tags:
- name: Tags
paths:
  /tags:
    get:
      operationId: listTags
      summary: List tags
      description: Returns a list of tags used across all resources in the account.
      tags:
      - Tags
      parameters:
      - name: kind
        in: query
        description: Filter tags by resource kind such as flag, project, environment, or segment.
        schema:
          type: string
          enum:
          - flag
          - project
          - environment
          - segment
          - metric
      responses:
        '200':
          description: Successful response containing a list of tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagCollection'
        '401':
          description: Unauthorized. Invalid or missing access token.
components:
  schemas:
    Links:
      type: object
      description: HATEOAS links for navigating related resources.
      properties:
        self:
          type: object
          description: A link to this resource.
          properties:
            href:
              type: string
              description: The URL of this resource.
            type:
              type: string
              description: The media type.
      additionalProperties:
        type: object
        properties:
          href:
            type: string
            description: The URL of the linked resource.
          type:
            type: string
            description: The media type.
    TagCollection:
      type: object
      description: A collection of tags.
      properties:
        items:
          type: array
          description: The list of tags.
          items:
            type: string
        _links:
          $ref: '#/components/schemas/Links'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: LaunchDarkly API access token. Create personal or service tokens in the LaunchDarkly dashboard under Account Settings.
externalDocs:
  description: LaunchDarkly API Documentation
  url: https://apidocs.launchdarkly.com/
