openapi: 3.2.0
info:
  title: LaunchDarkly REST Code References API
  description: The LaunchDarkly REST API provides programmatic access to the full LaunchDarkly feature management platform. Developers can create, update, and manage feature flags, targeting rules, user segments, projects, environments, and team members. The API also supports scheduled flag changes, release pipelines, experimentation, approval workflows, and webhook integrations. Authentication is handled via personal or service access tokens, and the API follows a versioned scheme with the current default version being 20240415.
  version: '20240415'
  contact:
    name: LaunchDarkly Support
    url: https://support.launchdarkly.com
  termsOfService: https://launchdarkly.com/policies/terms-of-service
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.launchdarkly.com/api/v2
  description: LaunchDarkly Production API
security:
- bearerAuth: []
tags:
- name: Code References
  description: View code references that show where feature flags are used in your codebase.
paths:
  /code-refs/repositories:
    get:
      operationId: listCodeReferenceRepositories
      summary: List code reference repositories
      description: Returns a list of all repositories connected for code reference scanning.
      tags:
      - Code References
      responses:
        '200':
          description: Successful response containing code reference repositories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeReferenceRepositories'
        '401':
          description: Unauthorized. Invalid or missing access token.
components:
  schemas:
    Links:
      type: object
      description: HATEOAS links for navigating related resources.
      properties:
        self:
          type: object
          description: A link to this resource.
          properties:
            href:
              type: string
              description: The URL of this resource.
            type:
              type: string
              description: The media type.
      additionalProperties:
        type: object
        properties:
          href:
            type: string
            description: The URL of the linked resource.
          type:
            type: string
            description: The media type.
    CodeReferenceRepositories:
      type: object
      description: A collection of code reference repositories.
      properties:
        items:
          type: array
          description: The list of code reference repositories.
          items:
            type: object
            properties:
              name:
                type: string
                description: The repository name.
              sourceLink:
                type: string
                description: The URL to the repository source.
              type:
                type: string
                description: The repository hosting type.
              _links:
                $ref: '#/components/schemas/Links'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: LaunchDarkly API access token. Create personal or service tokens in the LaunchDarkly dashboard under Account Settings.
externalDocs:
  description: LaunchDarkly API Documentation
  url: https://apidocs.launchdarkly.com/
